@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
header {
  width: 100%;
  height: 97px;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  z-index: 200;
}
.lnb-bg {
  display: none;
  position: absolute;
  width: 100vw;
  background-color: #fff;
  height: 200px;
  top: 97px;
  left: 0;
  border-bottom: 1px solid #e2e2e2;
}
.head-wrap {
  width: 980px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
h1.logo {
  width: 126px;
  height: 66px;
}
nav {
  width: 800px;
  height: 30px;
}
.gnb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 300;
}
.gnb > li > a {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
  width: 150px;
}
.gnb > li:last-child > a {
  width: 112px;
  height: 30px;
  background-color: #095B2d;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.gnb > li:not(:last-child):hover > a {
  color: #095B2d;
}
.lnb {
  display: none;
  position: absolute;
  top: 100px;
  text-align: center;
}
.lnb > li > a {
  font-size: 14px;
  color: #333;
  height: 30px;
  line-height: 30px;
  width: 150px;
}
.lnb > li:hover > a {
  color: #095B2d;
}
main {
  width: 100%;
  height: 587px;
  background-color: #fff;
  position: relative;
  z-index: 100;
}
main > a {
  width: 185px;
  height: 24px;
  font-weight: bold;
  transform: rotate(90deg);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: justify;
  z-index: 90;
}
main > a:first-of-type:after,
main> a:last-of-type::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
}
main > a:first-of-type {
  top: calc(50% - 14px);
  left: 10px;
  color: #fff;
}
main > a:last-of-type {
  top: calc(50% - 14px);
  right: 10px;
  color: #333;
  font-weight: normal;
  height: 1px;
}
main > a:last-of-type:hover {
  height: 2px;
  font-weight: bold;
}
main > a:first-of-type:after {
  bottom: -5px;
  background-color: #fff;
}
main> a:last-of-type::before {
  top: -5px;
  background-color: #333;
}
.swiper-container {
  width: 100%;
  height: 587px;
  position: relative;
  overflow: hidden;
}
.slide-nav {
  width: 1240px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 620px);
  z-index: 5;
}
.swiper-pagination {
  display: inline !important;
  right: unset !important;
  top: unset !important;
  position: unset !important;
}
.slide-num > .swiper-pagination-bullet {
  margin-bottom: 28px !important;
  width: 27px;
  height: 26px;
  font-weight: bold;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  transition: color 0.2s;
  background-color: transparent !important;
  opacity: 1 !important;
}
.slide-num > .swiper-pagination-bullet:hover {
  color: #ffe600;
}
.slide-num > .swiper-pagination-bullet::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background-color: #ffe600;
  margin-top: 1px;
}
.slide-num > .swiper-pagination-bullet:hover::after {
  animation: border 1s;
  animation-fill-mode: forwards;
}
.swiper-pagination-bullet-active {
  animation: color 1s;
  animation-fill-mode: forwards;
}
.swiper-pagination-bullet-active::after {
  animation: border 1s;
  animation-fill-mode: forwards;
}
@keyframes border {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
@keyframes color {
  0% {
    color: #fff;
  }
  100% {
    color: #ffe600;
  }
}
.slide-nav a { /* 자바로 attr 백그라운드 바꾸기 */
  width: 20px;
  height: 25px;
  margin-left: 3.5px;
}
.play-icon {
  width: 17px;
  height: 19px; 
  margin-left: 3.5px;
  background: url('http://www.natuur.co.kr/images/icon/ico_pause.png') no-repeat center;
  background-size: contain;
  display: block;
}
.play-icon.play {
  background: url('http://www.natuur.co.kr/images/icon/ico_play.png') no-repeat center;
  background-size: contain;
}
.slide-wrap {
  width: 100vw;
  height: 587px;
}
.swiper-slide {
  width: 100%;
  height: 587px;
  position: relative;
}
.slide-bg {
  width: 825px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0
}
.slide-wrap > li:nth-child(1) .slide-bg {
  background: url('http://www.natuur.co.kr/images/main/main_banner_new_bg211129.jpg') no-repeat -48px 52%;
}
.slide-wrap > li:nth-child(2) .slide-bg {
  background: url('http://www.natuur.co.kr/images/main/main_banner_new_bg211118.jpg') no-repeat -48px 52%;
}
.slide-wrap > li:nth-child(3) .slide-bg {
  background: url('http://www.natuur.co.kr/images/main/main_banner_new_bg20211005.jpg') no-repeat -48px 52%;
}
.slide-wrap > li:nth-child(4) .slide-bg {
  background: url('http://www.natuur.co.kr/images/main/main_banner_new_bg211202.jpg') no-repeat -48px 52%;
}
.slide-wrap > li:nth-child(5) .slide-bg {
  background: #24603f url('http://www.natuur.co.kr/images/main/main_banner_new_bg0409_02.png') no-repeat -48px 52%;
}
.content-area {
  width: 1090px;
  height: 587px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  z-index: 100;
  overflow: hidden;
}
.product {
  width: 578px;
  height: 554px;
  position: absolute;
  top: 20px;
  left: 10px;
  left: -100px;
  opacity: 0;
  transition: all 1s;
  transition-delay: 1s;
}
.slide-wrap > li:nth-child(1) .product {
  background: url('../img/main_banner_new_img211129.png') no-repeat center;
}
.slide-wrap > li:nth-child(2) .product {
  background: url('../img/main_banner_new_img211118.png') no-repeat center;
}
.slide-wrap > li:nth-child(3) .product {
  background: url('../img/main_banner_new_img20211005.png') no-repeat center;
}
.slide-wrap > li:nth-child(4) .product {
  background: url('../img/main_banner_new_img211202.png') no-repeat center;
}
.slide-wrap > li:nth-child(5) .product {
  background: url('../img/main_banner_new_img0409_02.png') no-repeat center;
}
.swiper-slide-active .product {
  left: 10px;
  opacity: 1;
}
.text {
  width: 500px;
  height: 400px;
  position: absolute;
  top: -100px;
  right: 0;
  opacity: 0;
  transition: all 1s;
  transition-delay: 1.1s;
}
.slide-wrap > li:nth-child(1) .text {
  background: url('../img/main_banner_new_tit211129.png') no-repeat center;
}
.slide-wrap > li:nth-child(2) .text {
  background: url('../img/main_banner_new_tit211118.png') no-repeat center;
}
.slide-wrap > li:nth-child(3) .text {
  background: url('../img/main_banner_new_tit20211005.png') no-repeat center;
}
.slide-wrap > li:nth-child(4) .text {
  background: url('../img/main_banner_new_tit211202.png') no-repeat center;
}
.slide-wrap > li:nth-child(5) .text {
  background: url('../img/main_banner_new_tit0409_02.png') no-repeat center;
}
.swiper-slide-active .text {
  top: 20px;
  opacity: 1;
}
.link {
  width: 500px;
  height: 67px;
  position: absolute;
  bottom: -100px;
  right: 0;
  opacity: 0;
  transition: all 1s;
  transition-delay: 1.2s;
}
.link > a {
  width: 263px;
  height: 67px;
  font-size: 20px;
  color: #333;
  line-height: 67px;
  margin: 0 auto;
  position: relative;
}
.link > a > p {
  font-family: 'Noto Sans KR';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50px;
}
.round {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 5;
}
.slide-wrap > li:nth-child(1) .round {
  background-color: #fcd053;
}
.slide-wrap > li:nth-child(2) .round {
  background-color: #f3a7a7;
}
.slide-wrap > li:nth-child(3) .round {
  background-color: #f3ec5f;
}
.slide-wrap > li:nth-child(4) .round {
  background-color: #ebc982;
}
.slide-wrap > li:nth-child(5) .round {
  background-color: #f48594;
}
.arrow {
  width: 19px;
  height: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 40px;
  background: url('http://www.natuur.co.kr/images/icon/ico_arrow.png') no-repeat center;
  z-index: 5;
}
.swiper-slide-active .link {
  bottom: 60px;
  opacity: 1;
}
footer {
  width: 100%;
  height: 150px;
  background-color: #333;
  padding-top: 28px;
}
.foot-wrap {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 720px;
  height: 100%;
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
}
.btm-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.btm-menu > li > a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
}
.btm-menu > li:nth-child(2) > a {
  color: #ffe600;
}
address {
  font-style: normal;
  margin-top: 30px;
  color: #ffffff40;
}
p.copy {
  margin-top: 10px;
  color: #ffffff40;
}
.right {
  width: 200px;
  height: 100%;
}
.sns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sns > a {
  width: 38px;
  height: 38px;
  border-radius: 38px;
}
.sns > a:nth-child(1) {
  background: url('http://www.natuur.co.kr/images/icon/ico_facebook.png') no-repeat center;
}
.sns > a:nth-child(2) {
  background: url('	http://www.natuur.co.kr/images/icon/ico_insta.png') no-repeat center;
}
.sns > a:nth-child(3) {
  background: url('http://www.natuur.co.kr/images/icon/ico_sweet_factory.png') no-repeat center;
}
.sns > a:nth-child(4) {
  background: url('http://www.natuur.co.kr/images/icon/ico_nstore.png') no-repeat center;
}
.family {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background-color: #fff;
  position: relative;
  z-index: 400;
  font-size: 12px;
  padding-left: 10px;
  line-height: 30px;
  cursor: pointer;
}
.family > p::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  background: url('http://www.natuur.co.kr/images/icon/ico_down_arrow.png') no-repeat center;
  background-size: cover;
  position: absolute;
  top: calc(50% - 3px);
  right: 20px;
  transition: 1s;
}
.family.on > p::after {
  transform: rotate(-180deg);
}
.family-site {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  display: none;
}
.family-site > li > a {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  padding-left: 10px;
  background-color: #fff;
  border-right: 0.5px solid #ccc;
  border-left: 0.5px solid #ccc;
}
.family-site > li:first-child {
  border-top:  0.5px solid #ccc;
}